@import "tailwindcss";

@layer utilities {
  /* Spotlight Animation */
  @keyframes spotlight {
    from {
      opacity: 0;
      transform: translate(-72%, -62%) scale(0.5);
    }
    to {
      opacity: 1;
      transform: translate(-50%,-40%) scale(1);
    }
  }

  /* This class will be used by your spotlight.jsx component */
  .animate-spotlight {
      animation: spotlight 2s ease 0.75s 1 forwards;
  }
}